<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686328063589-1tendbb8tasv0lho1m7iips2ma7n0u7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686328063589-1tendbb8tasv0lho1m7iips2ma7n0u7t</string>
	<key>API_KEY</key>
	<string>AIzaSyDM0neQOzB0JxP-Wd55W2mOoL9DP6OriC0</string>
	<key>GCM_SENDER_ID</key>
	<string>686328063589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madeveloper.flutterapp</string>
	<key>PROJECT_ID</key>
	<string>hassan7labi-d70ff</string>
	<key>STORAGE_BUCKET</key>
	<string>hassan7labi-d70ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686328063589:ios:e83242b0102b791b2c488c</string>
	<key>DATABASE_URL</key>
	<string>https://hassan7labi-d70ff.firebaseio.com</string>
</dict>
</plist>